body {
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: #fff;
}

.navbar {
  background-color: #232323;
  border: none;
  margin-bottom: 0;
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff !important;
  background: #000 !important;
  padding: 18px 5px;
  height: 55px;
}

.tl-search {
  margin: 10px !important;
}
.tl-search input {
  background: transparent;
  border: none;
  height: 30px;
  color: #fff;
}
.tl-search input::-webkit-input-placeholder {
  font-style: italic;
  color: #999;
}
.tl-search input:-moz-placeholder {
  font-style: italic;
  color: #999;
}
.tl-search input::-moz-placeholder {
  font-style: italic;
  color: #999;
}
.tl-search input:-ms-input-placeholder {
  font-style: italic;
  color: #999;
}

.tl-right-nav li {
  width: 175px;
  border-left: 1px solid #111;
}
.tl-right-nav li a {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 12px;
}

.tl-right-nav li:hover {
  background: #047d5e;
}

.tl-icon-white {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.tl-icon-gray {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.icon-event-white {
  background: url(../images/sprites.png) 0px 45px;
}

.icon-calendar-white {
  background: url(../images/sprites.png) -25px 45px;
}

.icon-location-white {
  background: url(../images/sprites.png) -50px 45px;
}

.icon-price-white {
  background: url(../images/sprites.png) -75px 45px;
}

.icon-search-white {
  background: url(../images/sprites.png) -100px 45px;
}

.icon-event-gray {
  background: url(../images/sprites.png) 0px 20px;
}

.icon-calendar-gray {
  background: url(../images/sprites.png) -20px 20px;
}

.icon-location-gray {
  background: url(../images/sprites.png) -40px 20px;
}

.icon-price-gray {
  background: url(../images/sprites.png) -60px 20px;
}

section.content {
  margin-top: 60px;
}

.tl-list {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
}
.tl-list .img-container {
  width: 75%;
  float: left;
  display: inline-block;
  position: relative;
}
.tl-list .img-container img {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.tl-list .img-container .caption {
  position: absolute;
  bottom: 0;
  background: #000;
  padding: 15px;
  font-size: 12px;
  color: #818181;
}
.tl-list .img-container .caption a, .tl-list .img-container .caption a:hover {
  color: #047d5e;
  text-decoration: none;
}
.tl-list .details-container {
  width: 25%;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
}
.tl-list .details-container ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #232323;
  border-left: 1px solid #111;
}
.tl-list .details-container ul li {
  padding: 10px 15px;
  border-bottom: 1px solid #111;
}
.tl-list .details-container ul li a, .tl-list .details-container ul li a:hover {
  color: #868686;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
